<% include header %>

<div class="container">
  <br/>
  <img src="/logo.png" style='width:100px;'/>
  
  <h1>
    Welcome to the AccessBot.
  </h1>

  <hr/>
  <p>If you are seeing this, check your Terminal and follow the next steps:</p>
  
  <ol>
    <li>Confirm your Token</li>
    <li>Test app in Messenger</li>
    <li>Questions? Join the <a target='_blank' href='https://join.slack.com/t/accessbot/shared_invite/zt-ewg3hatd-sxYqarwKHhZ13gcba5eGhw'>Slack channel.</a> </li>
  </ol>
 
</div>

<% include footer %>
